<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>au</key>
	<dict>
		<key>ratingMovies</key>
		<array>
			<dict>
				<key>rank</key>
				<integer>100</integer>
				<key>rating</key>
				<string>G</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>200</integer>
				<key>rating</key>
				<string>PG</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>350</integer>
				<key>rating</key>
				<string>M</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>375</integer>
				<key>rating</key>
				<string>MA15+</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>400</integer>
				<key>rating</key>
				<string>R18+</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>500</integer>
				<key>rating</key>
				<string>X18+</string>
			</dict>
		</array>
		<key>ratingTVShows</key>
		<array>
			<dict>
				<key>rank</key>
				<integer>100</integer>
				<key>rating</key>
				<string>P</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>200</integer>
				<key>rating</key>
				<string>C</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>300</integer>
				<key>rating</key>
				<string>G</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>400</integer>
				<key>rating</key>
				<string>PG</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>500</integer>
				<key>rating</key>
				<string>M</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>550</integer>
				<key>rating</key>
				<string>MA15+</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>575</integer>
				<key>rating</key>
				<string>AV15+</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>600</integer>
				<key>rating</key>
				<string>R18+</string>
			</dict>
		</array>
	</dict>
	<key>ca</key>
	<dict>
		<key>ratingMovies</key>
		<array>
			<dict>
				<key>rank</key>
				<integer>100</integer>
				<key>rating</key>
				<string>G</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>200</integer>
				<key>rating</key>
				<string>PG</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>325</integer>
				<key>rating</key>
				<string>14A</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>400</integer>
				<key>rating</key>
				<string>18A</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>500</integer>
				<key>rating</key>
				<string>R</string>
			</dict>
		</array>
		<key>ratingTVShows</key>
		<array>
			<dict>
				<key>rank</key>
				<integer>100</integer>
				<key>rating</key>
				<string>C</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>200</integer>
				<key>rating</key>
				<string>C8</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>300</integer>
				<key>rating</key>
				<string>G</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>400</integer>
				<key>rating</key>
				<string>PG</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>500</integer>
				<key>rating</key>
				<string>14+</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>600</integer>
				<key>rating</key>
				<string>18+</string>
			</dict>
		</array>
	</dict>
	<key>de</key>
	<dict>
		<key>ratingMovies</key>
		<array>
			<dict>
				<key>rank</key>
				<integer>75</integer>
				<key>rating</key>
				<string>Ab 0 Jahren</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>100</integer>
				<key>rating</key>
				<string>Ab 6 Jahren</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>200</integer>
				<key>rating</key>
				<string>Ab 12 Jahren</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>500</integer>
				<key>rating</key>
				<string>Ab 16 Jahren</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>600</integer>
				<key>rating</key>
				<string>Ab 18 Jahren</string>
			</dict>
		</array>
		<key>ratingTVShows</key>
		<array>
			<dict>
				<key>rank</key>
				<integer>75</integer>
				<key>rating</key>
				<string>ab 0 Jahren</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>100</integer>
				<key>rating</key>
				<string>ab 6 Jahren</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>200</integer>
				<key>rating</key>
				<string>ab 12 Jahren</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>500</integer>
				<key>rating</key>
				<string>ab 16 Jahren</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>600</integer>
				<key>rating</key>
				<string>ab 18 Jahren</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>600</integer>
				<key>rating</key>
				<string>Keine Jugendfreigabe</string>
			</dict>
		</array>
	</dict>
	<key>fr</key>
	<dict>
		<key>ratingMovies</key>
		<array>
			<dict>
				<key>rank</key>
				<integer>100</integer>
				<key>rating</key>
				<string>Tout public</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>150</integer>
				<key>rating</key>
				<string>-10</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>200</integer>
				<key>rating</key>
				<string>-12</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>500</integer>
				<key>rating</key>
				<string>-16</string>
			</dict>
		</array>
		<key>ratingTVShows</key>
		<array>
			<dict>
				<key>rank</key>
				<integer>100</integer>
				<key>rating</key>
				<string>-10</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>200</integer>
				<key>rating</key>
				<string>-12</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>500</integer>
				<key>rating</key>
				<string>-16</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>600</integer>
				<key>rating</key>
				<string>-18</string>
			</dict>
		</array>
	</dict>
	<key>gb</key>
	<dict>
		<key>ratingMovies</key>
		<array>
			<dict>
				<key>rank</key>
				<integer>100</integer>
				<key>rating</key>
				<string>U</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>200</integer>
				<key>rating</key>
				<string>PG</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>300</integer>
				<key>rating</key>
				<string>12</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>350</integer>
				<key>rating</key>
				<string>15</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>400</integer>
				<key>rating</key>
				<string>18</string>
			</dict>
		</array>
		<key>ratingTVShows</key>
		<array>
			<dict>
				<key>rank</key>
				<integer>100</integer>
				<key>rating</key>
				<string>Clean</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>600</integer>
				<key>rating</key>
				<string>Caution</string>
			</dict>
		</array>
	</dict>
	<key>ie</key>
	<dict>
		<key>ratingMovies</key>
		<array>
			<dict>
				<key>rank</key>
				<integer>100</integer>
				<key>rating</key>
				<string>G</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>200</integer>
				<key>rating</key>
				<string>PG</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>300</integer>
				<key>rating</key>
				<string>12</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>350</integer>
				<key>rating</key>
				<string>15</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>375</integer>
				<key>rating</key>
				<string>16</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>400</integer>
				<key>rating</key>
				<string>18</string>
			</dict>
		</array>
		<key>ratingTVShows</key>
		<array>
			<dict>
				<key>rank</key>
				<integer>100</integer>
				<key>rating</key>
				<string>G</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>350</integer>
				<key>rating</key>
				<string>PG</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>400</integer>
				<key>rating</key>
				<string>12</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>500</integer>
				<key>rating</key>
				<string>15</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>600</integer>
				<key>rating</key>
				<string>18</string>
			</dict>
		</array>
	</dict>
	<key>jp</key>
	<dict>
		<key>ratingMovies</key>
		<array>
			<dict>
				<key>rank</key>
				<integer>100</integer>
				<key>rating</key>
				<string>G</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>200</integer>
				<key>rating</key>
				<string>PG12</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>300</integer>
				<key>rating</key>
				<string>R15+</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>400</integer>
				<key>rating</key>
				<string>R18+</string>
			</dict>
		</array>
		<key>ratingTVShows</key>
		<array>
			<dict>
				<key>rank</key>
				<integer>100</integer>
				<key>rating</key>
				<string>0+</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>250</integer>
				<key>rating</key>
				<string>9+</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>350</integer>
				<key>rating</key>
				<string>12+</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>600</integer>
				<key>rating</key>
				<string>18+</string>
			</dict>
		</array>
	</dict>
	<key>nz</key>
	<dict>
		<key>ratingMovies</key>
		<array>
			<dict>
				<key>rank</key>
				<integer>100</integer>
				<key>rating</key>
				<string>G</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>200</integer>
				<key>rating</key>
				<string>PG</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>250</integer>
				<key>rating</key>
				<string>M</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>300</integer>
				<key>rating</key>
				<string>RP13</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>325</integer>
				<key>rating</key>
				<string>R13</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>350</integer>
				<key>rating</key>
				<string>R15</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>375</integer>
				<key>rating</key>
				<string>RP16</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>380</integer>
				<key>rating</key>
				<string>R16</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>400</integer>
				<key>rating</key>
				<string>R18</string>
			</dict>
		</array>
		<key>ratingTVShows</key>
		<array>
			<dict>
				<key>rank</key>
				<integer>100</integer>
				<key>rating</key>
				<string>G</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>200</integer>
				<key>rating</key>
				<string>PG</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>300</integer>
				<key>rating</key>
				<string>RP13</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>325</integer>
				<key>rating</key>
				<string>R13</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>450</integer>
				<key>rating</key>
				<string>R15</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>475</integer>
				<key>rating</key>
				<string>RP16</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>500</integer>
				<key>rating</key>
				<string>R16</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>550</integer>
				<key>rating</key>
				<string>M</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>600</integer>
				<key>rating</key>
				<string>18: Restricted</string>
			</dict>
		</array>
	</dict>
	<key>us</key>
	<dict>
		<key>ratingApps</key>
		<array>
			<dict>
				<key>rank</key>
				<integer>100</integer>
				<key>rating</key>
				<string>4+</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>200</integer>
				<key>rating</key>
				<string>9+</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>300</integer>
				<key>rating</key>
				<string>12+</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>600</integer>
				<key>rating</key>
				<string>17+</string>
			</dict>
		</array>
		<key>ratingMovies</key>
		<array>
			<dict>
				<key>rank</key>
				<integer>100</integer>
				<key>rating</key>
				<string>G</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>200</integer>
				<key>rating</key>
				<string>PG</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>300</integer>
				<key>rating</key>
				<string>PG-13</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>400</integer>
				<key>rating</key>
				<string>R</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>500</integer>
				<key>rating</key>
				<string>NC-17</string>
			</dict>
		</array>
		<key>ratingTVShows</key>
		<array>
			<dict>
				<key>rank</key>
				<integer>100</integer>
				<key>rating</key>
				<string>TV-Y</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>200</integer>
				<key>rating</key>
				<string>TV-Y7</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>300</integer>
				<key>rating</key>
				<string>TV-G</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>400</integer>
				<key>rating</key>
				<string>TV-PG</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>500</integer>
				<key>rating</key>
				<string>TV-14</string>
			</dict>
			<dict>
				<key>rank</key>
				<integer>600</integer>
				<key>rating</key>
				<string>TV-MA</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
