<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pfm_description</key>
	<string>Use this section to define restrictions settings</string>
	<key>pfm_title</key>
	<string>Restrictions</string>
	<key>pfm_format_version</key>
	<integer>1</integer>
	<key>pfm_version</key>
	<integer>1</integer>
	<key>pfm_domain</key>
	<string>com.apple.applicationaccess</string>
	<key>pfm_subkeys</key>
	<array>
		<dict>
			<key>pfm_name</key>
			<string>PayloadDescription</string>
			<key>pfm_title</key>
			<string>Payload Description</string>
			<key>pfm_description</key>
			<string>Description of the payload</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Configures restrictions</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PayloadDisplayName</string>
			<key>pfm_title</key>
			<string>Payload Display Name</string>
			<key>pfm_description</key>
			<string>Name of the payload</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>Restrictions</string>
			<key>pfm_require</key>
			<string>always</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PayloadIdentifier</string>
			<key>pfm_title</key>
			<string>Payload Identifier</string>
			<key>pfm_description</key>
			<string>A unique identifier for the payload, dot-delimited.  Usually root PayloadIdentifier+subidentifier</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>com.apple.applicationaccess</string>
			<key>pfm_require</key>
			<string>always</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PayloadType</string>
			<key>pfm_title</key>
			<string>Payload Type</string>
			<key>pfm_description</key>
			<string>The type of the payload, a reverse dns string</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string>com.apple.applicationaccess</string>
			<key>pfm_require</key>
			<string>always</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PayloadUUID</string>
			<key>pfm_title</key>
			<string>Payload UUID</string>
			<key>pfm_description</key>
			<string>Unique identifier for the payload (format 01234567-89AB-CDEF-0123-456789ABCDEF)</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_default</key>
			<string></string>
			<key>pfm_require</key>
			<string>always</string>
			<key>pfm_format</key>
			<string>^[0-9A-Za-z]{8}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{4}-[0-9A-Za-z]{12}$</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PayloadVersion</string>
			<key>pfm_title</key>
			<string>Payload Version</string>
			<key>pfm_description</key>
			<string>The version of the whole configuration profile.</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_default</key>
			<integer>1</integer>
			<key>pfm_require</key>
			<string>always</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>PayloadOrganization</string>
			<key>pfm_title</key>
			<string>Payload Organization</string>
			<key>pfm_description</key>
			<string>This value describes the issuing organization of the profile, as displayed to the user</string>
			<key>pfm_type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowAppInstallation</string>
			<key>pfm_title</key>
			<string>Allow App Installation from Apple Configurator and iTunes</string>
			<key>pfm_description</key>
			<string>Allow only a connected Mac host to install applications</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowUIAppInstallation</string>
			<key>pfm_title</key>
			<string>Allow App Installation from App Store</string>
			<key>pfm_description</key>
			<string>Allow the user to install applications</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowAutomaticAppDownloads</string>
			<key>pfm_title</key>
			<string>Allow Automatic App Downloads</string>
			<key>pfm_description</key>
			<string>Allow automatic app downloads (Supervised only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowAppRemoval</string>
			<key>pfm_title</key>
			<string>Allow App Removal</string>
			<key>pfm_description</key>
			<string>Allow the user to remove apps (Supervised only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowSystemAppRemoval</string>
			<key>pfm_title</key>
			<string>Allow System App Removal</string>
			<key>pfm_description</key>
			<string>Allow the removal of system apps from the device (Supervised devices only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowEnterpriseAppTrust</string>
			<key>pfm_title</key>
			<string>Allow Trusting Enterprise Apps</string>
			<key>pfm_description</key>
			<string>Allow the user to trust enterprise apps</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowCamera</string>
			<key>pfm_title</key>
			<string>Allow Camera Use</string>
			<key>pfm_description</key>
			<string>Allow the user to use the camera</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowExplicitContent</string>
			<key>pfm_title</key>
			<string>Allow Explicit Content</string>
			<key>pfm_description</key>
			<string>Allow user access of explicit content</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowScreenShot</string>
			<key>pfm_title</key>
			<string>Allow Screenshots and Screen Recording</string>
			<key>pfm_description</key>
			<string>Allow the user to take screenshots or screen recordings</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowRemoteScreenObservation</string>
			<key>pfm_title</key>
			<string>Allow Remote Screen Observation</string>
			<key>pfm_description</key>
			<string>Allow Classroom or similar to observe the screen</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>forceClassroomUnpromptedScreenObservation</string>
			<key>pfm_title</key>
			<string>Allow Classroom Screen Observation without Prompting </string>
			<key>pfm_description</key>
			<string>Supervised only. If set to true, a student enrolled in a course via Classroom will automatically give permission to that course&apos;s teacher’s requests to observe their screen without prompting the student.</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowChat</string>
			<key>pfm_title</key>
			<string>Allow use of iMessage</string>
			<key>pfm_description</key>
			<string>Allow use of iMessage (Supervised only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowBookstore</string>
			<key>pfm_title</key>
			<string>Allow Bookstore</string>
			<key>pfm_description</key>
			<string>Supervised only. If set to false, Apple Books will be disabled.</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowBookstoreErotica</string>
			<key>pfm_title</key>
			<string>Allow Bookstore Erotica</string>
			<key>pfm_description</key>
			<string>Supervised only. If set to false, the user will not be able to download media from Apple Books that is tagged as erotica.</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowMusicService</string>
			<key>pfm_title</key>
			<string>Allow Apple Music</string>
			<key>pfm_description</key>
			<string>If set to false, Apple Music will be disabled in the Music app.</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowRadioService</string>
			<key>pfm_title</key>
			<string>Allow iTunes Radio</string>
			<key>pfm_description</key>
			<string>If set to false, iTunes Radio will be disabled in the Music app.</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowSharedStream</string>
			<key>pfm_title</key>
			<string>Allow Shared Albums</string>
			<key>pfm_description</key>
			<string>If set to false, disabled Shared Albums.</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowPassbookWhileLocked</string>
			<key>pfm_title</key>
			<string>Allow Wallet While Locked</string>
			<key>pfm_description</key>
			<string>If set to false, Wallet notifications will not be shown on the lock screen.</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowUIConfigurationProfileInstallation</string>
			<key>pfm_title</key>
			<string>Allow UI Configuration Profile Installation</string>
			<key>pfm_description</key>
			<string>Supervised only. If set to false, the user is prohibited from installing configuration profiles and certificates interactively.</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowVPNCreation</string>
			<key>pfm_title</key>
			<string>Allow Adding VPN Configurations (Supervised devices only)</string>
			<key>pfm_description</key>
			<string>Allow adding VPN configurations (Supervised devices only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>forceClassroomUnpromptedAppAndDeviceLock</string>
			<key>pfm_title</key>
			<string>Allow Classroom to Lock to an App and Lock the Device without Prompting</string>
			<key>pfm_description</key>
			<string>Supervised only. If set to true, a student enrolled in a course via Classroom will automatically give permission to that course&apos;s teacher’s requests to lock to an app or lock the device without prompting the student.</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>forceClassroomAutomaticallyJoinClasses</string>
			<key>pfm_title</key>
			<string>Automatically Join Classroom Classes without Prompting</string>
			<key>pfm_description</key>
			<string>Supervised only. If set to true, a student enrolled in a course via Classroom will automatically give permission to that course&apos;s teacher’s requests to perform commands without prompting the student.</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>forceClassroomRequestPermissionToLeaveClasses</string>
			<key>pfm_title</key>
			<string>Require teacher permission to leave Classroom unmanaged classes</string>
			<key>pfm_description</key>
			<string>Supervised only. If set to true, a student enrolled in an ad-hoc course via Classroom will request permission from the teacher when attempting to leave the course. Defaults to false.</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>forceWiFiPowerOn</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowiTunes</string>
			<key>pfm_title</key>
			<string>Allow use of iTunes</string>
			<key>pfm_description</key>
			<string>Allow the user to access and use iTunes</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowNews</string>
			<key>pfm_title</key>
			<string>Allow use of News</string>
			<key>pfm_description</key>
			<string>Allow the user to access and use News</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowSafari</string>
			<key>pfm_title</key>
			<string>Allow use of Safari</string>
			<key>pfm_description</key>
			<string>Allow the user to use Safari</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowGameCenter</string>
			<key>pfm_title</key>
			<string>Allow Game Center</string>
			<key>pfm_description</key>
			<string>Allow Game Center (Supervised only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowAddingGameCenterFriends</string>
			<key>pfm_title</key>
			<string>Allow Adding Game Center Friends</string>
			<key>pfm_description</key>
			<string>Allow the user to add Friends on Game Center</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowBluetoothModification</string>
			<key>pfm_title</key>
			<string>Allow modifying Bluetooth settings</string>
			<key>pfm_description</key>
			<string>Allow modifying Bluetooth settings</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowAppCellularDataModification</string>
			<key>pfm_title</key>
			<string>Allow Modifying Cellular Data Usage for Apps Settings</string>
			<key>pfm_description</key>
			<string>Allow modifying cellular data usage for apps settings</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowCellularPlanModification</string>
			<key>pfm_title</key>
			<string>Allow Modifying Cellular Plan</string>
			<key>pfm_description</key>
			<string>Allow modifying cellular plan (Supervised only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowESIMModification</string>
			<key>pfm_title</key>
			<string>Allow Modifying eSIM Settings</string>
			<key>pfm_description</key>
			<string>Allow modifying eSIM settings (Supervised only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowDeviceNameModification</string>
			<key>pfm_title</key>
			<string>Allow Modifying Device Name</string>
			<key>pfm_description</key>
			<string>Allow modifying device name</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowPasscodeModification</string>
			<key>pfm_title</key>
			<string>Allow Modifying Passcode</string>
			<key>pfm_description</key>
			<string>Allow modifying passcode (Supervised only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowWallpaperModification</string>
			<key>pfm_title</key>
			<string>Allow Modifying Wallpaper</string>
			<key>pfm_description</key>
			<string>Allow modifying Wallpaper (Supervised only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowPersonalHotspotModification</string>
			<key>pfm_title</key>
			<string>Allow Modifying Personal Hotspot settings</string>
			<key>pfm_description</key>
			<string>Allow modifying Personal Hotspot settings (Supervised only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowEnablingRestrictions</string>
			<key>pfm_title</key>
			<string>Allow Configuring Restrictions</string>
			<key>pfm_description</key>
			<string>Allow configuring restrictions (Supervised only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowGlobalBackgroundFetchWhenRoaming</string>
			<key>pfm_title</key>
			<string>Allow Automatic Sync While Roaming</string>
			<key>pfm_description</key>
			<string>Allow automatic sync while roaming</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowFilesUSBDriveAccess</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowManagedAppsCloudSync</string>
			<key>pfm_title</key>
			<string>Allow iCloud Sync for Managed Apps</string>
			<key>pfm_description</key>
			<string>Allow iCloud sync for managed apps</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowEnterpriseBookBackup</string>
			<key>pfm_title</key>
			<string>Allow Enterprise Books Backup</string>
			<key>pfm_description</key>
			<string>Allow enterprise books to be backed up</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowEnterpriseBookMetadataSync</string>
			<key>pfm_title</key>
			<string>Allow Enterprise Books Notes and Highlights Sync</string>
			<key>pfm_description</key>
			<string>Allow enterprise books notes and highlights to be synced</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowInAppPurchases</string>
			<key>pfm_title</key>
			<string>Allow In App Purchases</string>
			<key>pfm_description</key>
			<string>Allow the user to make purchases within applications</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowMultiplayerGaming</string>
			<key>pfm_title</key>
			<string>Allow Multiplayer Gaming</string>
			<key>pfm_description</key>
			<string>Allow multiplayer gaming</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowVideoConferencing</string>
			<key>pfm_title</key>
			<string>Allow Video Conferencing</string>
			<key>pfm_description</key>
			<string>Allow video conferencing</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowVoiceDialing</string>
			<key>pfm_title</key>
			<string>Allow Voice Dialing While Device is Locked</string>
			<key>pfm_description</key>
			<string>Allow voice dialing while device is locked (deprecated in iOS 17)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>forceEncryptedBackup</string>
			<key>pfm_title</key>
			<string>Force Encrypted Backups</string>
			<key>pfm_description</key>
			<string>Force encrypted backups</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>forceWatchWristDetection</string>
			<key>pfm_title</key>
			<string>Force Apple Watch Wrist Detection</string>
			<key>pfm_description</key>
			<string>Force Apple Watch wrist detection</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowPairedWatch</string>
			<key>pfm_title</key>
			<string>Allow Pairing With Apple Watch</string>
			<key>pfm_description</key>
			<string>Allow pairing with Apple Watch</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowEraseContentAndSettings</string>
			<key>pfm_title</key>
			<string>Allow Erase All Content and Settings</string>
			<key>pfm_description</key>
			<string>Supervised only. If set to false, the user cannot choose the option &quot;Erase All Content and Settings&quot; in Settings &gt; General &gt; Reset</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowSpotlightInternetResults</string>
			<key>pfm_title</key>
			<string>Allow Internet results in Spotlight</string>
			<key>pfm_description</key>
			<string>If set to false, search results from the web will not be shown in Spotlight.</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowCloudDocumentSync</string>
			<key>pfm_title</key>
			<string>Allow iCloud Document Sync</string>
			<key>pfm_description</key>
			<string>Allow document syncing with iCloud</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowUntrustedTLSPrompt</string>
			<key>pfm_title</key>
			<string>Allow user to accept untrusted TLS certificates</string>
			<key>pfm_description</key>
			<string>Allow user to accept untrusted TLS certificates</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowDiagnosticSubmission</string>
			<key>pfm_title</key>
			<string>Allow diagnostic submission</string>
			<key>pfm_description</key>
			<string>Send diagnostic and usage reports to Apple</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowDiagnosticSubmissionModification</string>
			<key>pfm_title</key>
			<string>Allow modifying diagnostics settings</string>
			<key>pfm_description</key>
			<string>Allow modifying diagnostics settings</string>
			<key>pfm_type</key>
			<string>boolean</string>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowPhotoStream</string>
			<key>pfm_title</key>
			<string>Allow Photo Stream</string>
			<key>pfm_description</key>
			<string>Allow Photo Stream to be used on the device (deprecated in iOS 17)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowCloudPhotoLibrary</string>
			<key>pfm_title</key>
			<string>Allow iCloud Photos</string>
			<key>pfm_description</key>
			<string>Allow iCloud Photos to be used on the device</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowCloudBackup</string>
			<key>pfm_title</key>
			<string>Allow iClould Backup</string>
			<key>pfm_description</key>
			<string>Allow backup using iCloud</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>forceITunesStorePasswordEntry</string>
			<key>pfm_title</key>
			<string>Require iTunes password for all purchases</string>
			<key>pfm_description</key>
			<string>Require the user&apos;s iTunes password to be entered for every purchase (deprecated in iOS 17)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>ratingApps</string>
			<key>pfm_title</key>
			<string>Apps Ranking Number</string>
			<key>pfm_description</key>
			<string>Ranking number for apps</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_default</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>ratingMovies</string>
			<key>pfm_title</key>
			<string>Movies Ranking Number</string>
			<key>pfm_description</key>
			<string>Ranking number for movies</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_default</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>ratingTVShows</string>
			<key>pfm_title</key>
			<string>TV Shows Ranking Number</string>
			<key>pfm_description</key>
			<string>Ranking number for TV Shows</string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_default</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>ratingRegion</string>
			<key>pfm_title</key>
			<string>Region Code</string>
			<key>pfm_description</key>
			<string>Two-character code for the region used to specify ratings</string>
			<key>pfm_type</key>
			<string>string</string>
			<key>pfm_range_list</key>
			<array>
				<string>us</string>
				<string>au</string>
				<string>ca</string>
				<string>de</string>
				<string>fr</string>
				<string>ie</string>
				<string>jp</string>
				<string>nz</string>
				<string>gb</string>
			</array>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>safariAcceptCookies</string>
			<key>pfm_title</key>
			<string>Accept Cookies in Safari</string>
			<key>pfm_description</key>
			<string>Accept cookies: 0 - Never, 1 - From current website only (iOS 8) or visited sites (pre-iOS 8), 1.5 - From websites I visit, 2 - Always</string>
			<key>pfm_type</key>
			<string>real</string>
			<key>pfm_range_list</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<real>1.5</real>
				<integer>2</integer>
			</array>
			<key>pfm_default</key>
			<real>2</real>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>safariAllowAutoFill</string>
			<key>pfm_title</key>
			<string>Allow AutoFill in Safari</string>
			<key>pfm_description</key>
			<string>Allow AutoFill in Safari</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>forceAuthenticationBeforeAutoFill</string>
			<key>pfm_title</key>
			<string>Require Face ID authentication before AutoFill</string>
			<key>pfm_description</key>
			<string>Supervised only. Requires Face ID authentication before allowing AutoFill.</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>safariAllowJavaScript</string>
			<key>pfm_title</key>
			<string>Allow JavaScript</string>
			<key>pfm_description</key>
			<string>Allow JavaScript in Safari</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>safariAllowPopups</string>
			<key>pfm_title</key>
			<string>Allow Pop-ups</string>
			<key>pfm_description</key>
			<string>Allow Pop-ups in Safari</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>safariForceFraudWarning</string>
			<key>pfm_title</key>
			<string>Enable Fraud Warning</string>
			<key>pfm_description</key>
			<string>Enable fraud warning in Safari</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowAssistant</string>
			<key>pfm_title</key>
			<string>Allow Siri</string>
			<key>pfm_description</key>
			<string>Allow Siri</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowAssistantWhileLocked</string>
			<key>pfm_title</key>
			<string>Allow Siri While Locked</string>
			<key>pfm_description</key>
			<string>Allow Siri while device is locked</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>forceAssistantProfanityFilter</string>
			<key>pfm_title</key>
			<string>Enable Siri Profanity Filter</string>
			<key>pfm_description</key>
			<string>Enable Siri Profanity Filter (Supervised devices only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowPredictiveKeyboard</string>
			<key>pfm_title</key>
			<string>Allow Predictive Keyboard</string>
			<key>pfm_description</key>
			<string>Allow Predictive Keyboard (Supervised devices only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowKeyboardShortcuts</string>
			<key>pfm_title</key>
			<string>Allow Keyboard Shortcuts</string>
			<key>pfm_description</key>
			<string>Allow Keyboard Shortcuts (Supervised devices only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowContinuousPathKeyboard</string>
			<key>pfm_title</key>
			<string>Allow continuous path keyboard</string>
			<key>pfm_description</key>
			<string>Allow continuous path keyboard (supervised only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowAutoCorrection</string>
			<key>pfm_title</key>
			<string>Allow Auto Correction</string>
			<key>pfm_description</key>
			<string>Allow Auto Correction (Supervised devices only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowSpellCheck</string>
			<key>pfm_title</key>
			<string>Allow Spell Check</string>
			<key>pfm_description</key>
			<string>Allow Spell Check (Supervised devices only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowDefinitionLookup</string>
			<key>pfm_title</key>
			<string>Allow Define</string>
			<key>pfm_description</key>
			<string>Allow Define (Supervised devices only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowOpenFromUnmanagedToManaged</string>
			<key>pfm_title</key>
			<string>Enable allow open from unmanaged to managed</string>
			<key>pfm_description</key>
			<string>Enable allow open from unmanaged to managed</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowOpenFromManagedToUnmanaged</string>
			<key>pfm_title</key>
			<string>Enable allow open from managed to unmanaged</string>
			<key>pfm_description</key>
			<string>Enable allow open from managed to unmanaged</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>forceAirDropUnmanaged</string>
			<key>pfm_title</key>
			<string>Treat AirDrop as Unmanaged Destination</string>
			<key>pfm_description</key>
			<string>Treat AirDrop as Unmanaged Destination</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowActivityContinuation</string>
			<key>pfm_title</key>
			<string>Allow Handoff</string>
			<key>pfm_description</key>
			<string>If set to false, Handoff will be disabled</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowFingerprintForUnlock</string>
			<key>pfm_title</key>
			<string>Allow Touch ID / Face ID to Unlock Device</string>
			<key>pfm_description</key>
			<string>Allow Touch ID / Face ID to Unlock Device</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowFingerprintModification</string>
			<key>pfm_title</key>
			<string>Allow Modifying Touch ID Fingerprints / Face ID Faces</string>
			<key>pfm_description</key>
			<string>Allow Modifying Touch ID fingerprints / Face ID faces</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowNotificationsModification</string>
			<key>pfm_title</key>
			<string>Allow Modifying Notifications Settings</string>
			<key>pfm_description</key>
			<string>Allow Modifying Notifications Settings</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowAirPlayIncomingRequests</string>
			<key>pfm_title</key>
			<string>Allow incoming AirPlay requests</string>
			<key>pfm_description</key>
			<string>Allow incoming AirPlay requests</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowDeviceSleep</string>
			<key>pfm_title</key>
			<string>Allow device sleep</string>
			<key>pfm_description</key>
			<string>Allow device sleep</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowRemoteAppPairing</string>
			<key>pfm_title</key>
			<string>Allow pairing with Remote app</string>
			<key>pfm_description</key>
			<string>Allow pairing with Remote app</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>forceWiFiWhitelisting</string>
			<key>pfm_title</key>
			<string>Join only Wi-Fi networks installed by a Wi-Fi payload (supervised only)</string>
			<key>pfm_description</key>
			<string>Join only Wi-Fi networks installed by a Wi-Fi payload (supervised only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowProximitySetupToNewDevice</string>
			<key>pfm_title</key>
			<string>Allow setting up new nearby devices (supervised only)</string>
			<key>pfm_description</key>
			<string>Allow users to be prompted to set up a new device that is close by (supervised only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowDictation</string>
			<key>pfm_title</key>
			<string>Allow dictation</string>
			<key>pfm_description</key>
			<string>Allow dictation</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowAirPrint</string>
			<key>pfm_title</key>
			<string>Allow AirPrint</string>
			<key>pfm_description</key>
			<string>Allow AirPrint (Supervised devices only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowAirPrintiBeaconDiscovery</string>
			<key>pfm_title</key>
			<string>Allow discovery of AirPrint printers using iBeacons</string>
			<key>pfm_description</key>
			<string>Allow discovery of AirPrint printers using iBeacons (Supervised devices only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowAirPrintCredentialsStorage</string>
			<key>pfm_title</key>
			<string>Allow storage of AirPrint credentials in Keychain</string>
			<key>pfm_description</key>
			<string>Allow storage of AirPrint credentials in Keychain (Supervised devices only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>forceAirPrintTrustedTLSRequirement</string>
			<key>pfm_title</key>
			<string>Disallow AirPrint to destinations with untrusted certificates</string>
			<key>pfm_description</key>
			<string>Disallow AirPrint to destinations with untrusted certificates (Supervised devices only)</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>blacklistedAppBundleIDs</string>
			<key>pfm_title</key>
			<string>Blacklisted Apps</string>
			<key>pfm_description</key>
			<string>Blacklisted Apps</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>appBundleID</string>
					<key>pfm_title</key>
					<string>Blacklisted App</string>
					<key>pfm_description</key>
					<string>Blacklisted App</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_default</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>whitelistedAppBundleIDs</string>
			<key>pfm_title</key>
			<string>Whitelisted Apps</string>
			<key>pfm_description</key>
			<string>Whitelisted Apps</string>
			<key>pfm_type</key>
			<string>array</string>
			<key>pfm_subkeys</key>
			<array>
				<dict>
					<key>pfm_name</key>
					<string>appBundleID</string>
					<key>pfm_title</key>
					<string>Whitelisted App</string>
					<key>pfm_description</key>
					<string>Whitelisted App</string>
					<key>pfm_type</key>
					<string>string</string>
					<key>pfm_default</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>forceDelayedSoftwareUpdates</string>
			<key>pfm_title</key>
			<string>Defer software updates</string>
			<key>pfm_description</key>
			<string>Delay user visibility of Software Updates</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>forceAutomaticDateAndTime</string>
			<key>pfm_title</key>
			<string>Force Automatic Date and Time</string>
			<key>pfm_description</key>
			<string>When set to true, the Date and Time &quot;Set Automatically&quot; feature is turned on and cannot be turned off by the user.	</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowPasswordAutoFill</string>
			<key>pfm_title</key>
			<string>Allow Password AutoFill</string>
			<key>pfm_description</key>
			<string>When set to false, users cannot use the AutoFill Passwords feature on iOS. Users will not be prompted with the option to pick a saved password to use in password fields in Safari or in apps.</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowPasswordProximityRequests</string>
			<key>pfm_title</key>
			<string>Allow proximity based password sharing requests</string>
			<key>pfm_description</key>
			<string>When set to false, user’s devices will not advertise themselves to nearby devices to share passwords using Proximity AutoFill.</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowPasswordSharing</string>
			<key>pfm_title</key>
			<string>Allow Password Sharing</string>
			<key>pfm_description</key>
			<string>When set to false, users cannot share their passwords using AirDrop</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>enforcedSoftwareUpdateDelay</string>
			<key>pfm_title</key>
			<string>Defer software updates</string>
			<key>pfm_description</key>
			<string>Number of days to delay user visibility of Software Updates </string>
			<key>pfm_type</key>
			<string>integer</string>
			<key>pfm_exclude</key>
			<array>
				<dict>
					<key>pfm_target_conditions</key>
					<array>
						<dict>
							<key>pfm_target</key>
							<string>forceDelayedSoftwareUpdates</string>
							<key>pfm_n_range_list</key>
							<array>
								<true/>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowAutoUnlock</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowUSBRestrictedMode</string>
			<key>pfm_title</key>
			<string>Allow USB accessories while device is locked</string>
			<key>pfm_description</key>
			<string>Allow USB accessories to connect while the device is locked</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowFindMyDevice</string>
			<key>pfm_title</key>
			<string>Allow Find My Devices</string>
			<key>pfm_description</key>
			<string>Allow Find My Devices</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowFindMyFriends</string>
			<key>pfm_title</key>
			<string>Allow Find My Friends</string>
			<key>pfm_description</key>
			<string>Allow Find My Friends</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowFilesNetworkDriveAccess</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowAppClips</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowApplePersonalizedAdvertising</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<true/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>forceLimitAdTracking</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
		<dict>
			<key>pfm_name</key>
			<string>allowUnpairedExternalBootToRecovery</string>
			<key>pfm_type</key>
			<string>boolean</string>
			<key>pfm_default</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
