<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACULicenseVersion</key>
	<string>EA1812</string>
	<key>BuildMachineOSBuild</key>
	<string>20A241113</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Apple Configurator</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mobileconfig</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ConfigurationProfile</string>
			<key>CFBundleTypeName</key>
			<string>Configuration Profile</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.mobileconfig</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>CPEProfileDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Devices Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.configurator.devices</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>ACUDevicesDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mobileprovision</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ProvisioningProfile</string>
			<key>CFBundleTypeName</key>
			<string>Provisioning Profile</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.mobileprovision</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>organization</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Organization</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.configurator.organization</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>blueprint</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Blueprint</string>
			<key>CFBundleTypeName</key>
			<string>Blueprint</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.configurator.blueprint</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>der</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DER-encoded Private Key</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.configurator.privatekey</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>crt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DER-encoded Certificate</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.configurator.certificate</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSIsRelatedItemType</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Apple Configurator</string>
	<key>CFBundleHelpBookFolder</key>
	<string>AppleConfigurator.help</string>
	<key>CFBundleHelpBookName</key>
	<string>com.apple.AppleConfigurator.help</string>
	<key>CFBundleIconFile</key>
	<string>Configurator</string>
	<key>CFBundleIconName</key>
	<string>Configurator</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.configurator.ui</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Apple Configurator</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.16</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>Configurator</string>
			<key>CFBundleURLName</key>
			<string>com.apple.configurator.url</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>configurator</string>
				<string>configurators</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>855</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>22A372</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>13.0</string>
	<key>DTSDKBuild</key>
	<string>22A372</string>
	<key>DTSDKName</key>
	<string>macosx13.0.internal</string>
	<key>DTXcode</key>
	<string>1410</string>
	<key>DTXcodeBuild</key>
	<string>14B47b</string>
	<key>HPDHelpProjectIdentifier</key>
	<string>apple-configurator-mac</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>12.4</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012-2022 Apple Inc.
All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.com.apple.configurator.ui</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Configurator</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Devices Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.configurator.devices</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Organization Document</string>
			<key>UTTypeIconFile</key>
			<string>Organization</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Organization_new</string>
				<key>UTTypeIconText</key>
				<string>ORG</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.apple.configurator.organization</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>organization</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Blueprint Document</string>
			<key>UTTypeIconFile</key>
			<string>Blueprint</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.configurator.blueprint</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>blueprint</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DER-encoded Private Key</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.configurator.privatekey</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>der</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/pkcs8</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>DER-encoded Certificate</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.configurator.certificate</string>
			<key>UTTypeReferenceURL</key>
			<string></string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>crt</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-x509-user-cert</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
				<string>public.executable</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iTunes.ipa</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>ipa</string>
				<key>public.filename-extension</key>
				<string>ipa</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
				<string>public.executable</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.apple.iTunes.ipsw</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>ipsw</string>
				<key>public.filename-extension</key>
				<string>ipsw</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
